<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developerkits.admin_panel_cashnet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.developerkits.admin_panel_cashnet.Model.OfflineFirebase"
        android:allowBackup="true"
        android:icon="@drawable/halalpay_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/halalpay_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPay">
        <activity android:name="com.developerkits.admin_panel_cashnet.ShopHelp" />
        <activity android:name="com.developerkits.admin_panel_cashnet.HomeActivity" />
        <activity android:name="com.developerkits.admin_panel_cashnet.DepositTypeActivity" />
        <activity android:name="com.developerkits.admin_panel_cashnet.DetailsActivity" />
        <activity android:name="com.developerkits.admin_panel_cashnet.BusinessLoanList" />
        <activity android:name="com.developerkits.admin_panel_cashnet.DonationList" />
        <activity android:name="com.developerkits.admin_panel_cashnet.WithdrawList" />
        <activity android:name="com.developerkits.admin_panel_cashnet.DepositList" />
        <activity android:name="com.developerkits.admin_panel_cashnet.PasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>